# Ignore everything by default.
*

# Keep this ignore file tracked.
!.gitignore

# Keep filter sounds.
!sounds/
!sounds/**

# Keep selected filters.
!거슨필터.filter
!거슨필터 - 많이 뉴비.filter
!거슨필터 - 중간.filter
